<div class="guestText">アカウントを作成されていないのでToDoリストはご利用できません。</div>
<div class="guestText">
  ポモドーロタイマーのみご使用できます。<br>
  タイマー終了時にアラート音が鳴ります。<br>
</div>
<div id="guestTimerModal">
  <div id="guestTimer">
    <div id="guestMin"></div>
    <span style="font-size: 50px;">:</span>
    <div id="guestSec"></div>
    <div>
      <button id="guestStart">開始</button>
      <button id="guestStop">停止</button>
    </div>
  </div>
</div>