<% if user_signed_in? %>
   <div id="taskCreation">タスク作成</div>
 <%end%>
 <p id="notice"><%= notice %></p>
 <p id="alert"><%= alert %></p>
 <% if user_signed_in? && @user.name == "guestuser" %>
  <div style="text-align: center; margin-bottom: 10px;">
    現在ゲスト用の<span style="color: red;">共有アカウント</span>でログインしています。<br>
    タスク作成時に個人情報などの入力にご注意ください。<br>
  </div>
<%end%>