<div class="container">
  <div class="space"></div>
  <div class="row">
    <div class="col">
      <div class="text">STUDY SUPPORT</div>
      
      <div class="text">
        このサイトはポモドーロタイマーを使ったサポートサイトです
      </div>
      
      
      <%= link_to "はじめる", tasks_path, class: "textColor" %>
    </div>
  </div>
</div>