<h1>マイページ</h1>

<div>
  <% @usage_time.each do |tasks| %>
    <% if current_user.id == tasks.user_id %>
      <%= tasks.elapsed_time %>
    <%end%>
  <%end%>
</div>

<div><%= @today_time %></div>


<div><%= @usage_time_yesterday_usage_times %></div>
<div class="myPageBack">
  <div class="myPageChart">
    <!--統計グラフ-->
    <div class="text-center">７日間の作業比率</div>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['6日前', '５日前', '４日前', '３日前', '２日前', '1日前', '今日'],
          datasets: [{
            tension: 0.3,
            label: '1週間の時間',
            data: [1,2,3,4,0.5,<% @today_time %>],
            
            //barの色、太さ、線の色
            backgroundColor: [ '#B0E0E6' ],
            borderColor: ['#B0E0E6'],
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              suggestedMin: 1,
              suggestedMax: 12,
              ticks: {
                // Include a dollar sign in the ticks
                callback: function(value, index, ticks) {
                  return value + "h";
                }
              }
            }
          }
        }
      });
    </script>
    <!--統計グラフ-->
  </div>
</div>
