<div class="box">
  <h2>Log in</h2>
  
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div>
      <%= f.email_field :email, class: "email", autocomplete: "email", placeholder: "email" %>
    </div>
  
    <div>
      <%= f.password_field :password, class: "password", autocomplete: "current-password", placeholder: "password" %>
    </div>
  
    <div>
      <%= f.submit "Log in", class: "login" %>
    </div>
  <% end %>
</div>