<% if task.check_by?(current_user) %>
  <p>
    <%= link_to task_check_path(task), method: :delete, remote: true do %>
      <i class="fa-solid fa-check" style="color: #32CD32;" title="タスク完了済み"></i>
    <%end%>
  </p>
<%else%>
  <p>
    <%= link_to task_check_path(task), method: :post, remote: true do %>
      <i class="fa-solid fa-check" style="color: gray;" title="タスク未完了"></i>
    <%end%>
  </p>
<%end%>